body {
margin: 0%;
}

h1 {
    font-size: x-small;
}

/*alows you to place two half elements next to each other*/
.contentRowBox {
    display: flex;
    flex-direction: row-reverse;
    width: inherit;
    padding: 2%;
    background-color: transparent;
}

/*its a text box but now half the size alows you to put in text*/
.textBoxHalf {
    /*decorationFiller doesnt work without flex*/
    display: flex;
    flex-direction: column;

    color: gainsboro;
    word-wrap: break-word;
    width: 50%;
    padding: 2%;
    background-color: transparent;
}

/*decorationFiller fills the remaining space of a parent element*/
.decorationFiller {
width: 100%;
height: auto;
flex: 1;
}